<!DOCTYPE HTML>
<html>
  <head>
    <title>GULNUR</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/header.css" />
    <script src="assets/js/script.js" defer></script>
  </head>
  <body>
    <div id="nav" class="nav-links">
        <div class="nav-div"><a href="/">HOME</a></div>
      <div class="nav-div"><a href="/resume.html">RESUME</a></div>
      <div class="nav-div"><a href="/projects.html">PROJECTS</a></div>
      <div class="nav-div"><a href="/contacts.html">CONTACTS</a></div>
    </div>
  </body>
</html>

