@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");



body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
  }
  
body {
	background-color: #7395AE;

}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a{
	color: rgb(247, 242, 236);
}

#main {
    padding-top: 100px;
    margin: 30px 50px 20px 30px;
    height: 500px;
}
/* smaller screens */
@media screen and (max-width: 600px) {
    #main {
        padding-top: 50px;
        margin: 10px 5%;
    }
}




